/***** GENERAL CSS *****/

body #body .padding .column-1-register {
	padding: 0 5%;
}

body #body .padding #body-content-padding {
	padding: 0 5%;
}

body #body .padding ol li mark {
	background-color: transparent;
	text-decoration: underline;
}

body #body .padding #content-header h2,
body #body .padding .body-content h3 {
	text-shadow: none;
} 

/***** TABLE CSS *****/

.padding table {
 width: 100%;
}

.padding table
tr {
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
}

.padding table tr:nth-child(even) {
 background-color: #FFFCF4!important;
}

@media (max-width: 600px) {
 .padding table
tr {
   border-bottom: 2px solid #333;
 }
}

.padding table
tr:first-th {
 display: none;
}

@media (max-width: 600px) {
 .padding table
thead {
   display: none;
 }
}

.padding table td, .padding table
th {
 display: block;
 text-align: left;
}

@media (min-width: 600px) {
 .padding table td, .padding table
th {
   display: table-cell;
   padding: 0.25em 0.5em;
   text-align: left;
 }

 .padding table td:first-child {
   text-align: center;
 }
}
/*
.padding table td:first-child, .padding table
th:first-child {
 padding-top: .5em;
}
*/
.padding table td:last-child, .padding table
th:last-child {
 padding-bottom: .5em;
}

.padding table td:before, .padding table
th:before {
 content: attr(data-title);
 font-weight: bold;
 width: 6.5em;
 display: inline-block;
}

@media (min-width: 600px) {
 .padding table td:before, .padding table
th:before {
   display: none;
 }
}

.padding table td:after, .padding table
th:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}

@media (min-width: 600px) {
 .padding table td:after, .padding table
th:after {
   display: none;
 }
}

.padding table
td:last-child {
 padding: 1em 0;
}

.padding table
th {
 background-color: #FAFEFF;
 text-align: center;
 font-weight: 600;
}

@media (max-width: 600px) {
 .padding table
th:before {
   width: 100%;
 }
}