body {
	visibility: hidden;
}
body>#wrapper {
	display: none;
}
.body-content, #content-header, #column-1\20 body-padding {
	visibility: visible;
}
.breadcrumbs {
	display: none;
}
.no-print {
	display: none;
}

div {
	padding: 0 !important;
	margin: 0 !important;
}