.block--top-feature-area .rotator-info a.button,
.node .readmore a.button,
#block-psucampus-feature-article-psucampus-feature-article-more a.feature-more-link,
#block-psucampus-landing-page-landing-page-left-content-area .field-collection-item-field-horizontal-teaser .more-link a,
#block-psucampus-core-psucampus-core-pages-header .node-feature-article a.button,
.button-styling a.samples--button {
  background-color: #a2d06d;
  color: #172a43;
}
.block--top-feature-area .rotator-info a.button:hover,
.node .readmore a.button:hover,
#block-psucampus-feature-article-psucampus-feature-article-more a.feature-more-link:hover,
#block-psucampus-landing-page-landing-page-left-content-area .field-collection-item-field-horizontal-teaser .more-link a:hover,
#block-psucampus-core-psucampus-core-pages-header .node-feature-article a.button:hover,
.button-styling a.samples--button:hover {
  background-color: #b8f473;
  color: #172a43;
}

.nav-cta a, .nav-cta a.active {
  background-color: #a2d06d;
  color: #172a43;
}

.nav-cta a:hover, .nav-cta a.active:hover {
  background-color: #b8f473;
  color: #172a43;
}

#cta-menu-footer-main li {
  border-right: 1px solid #a2d06d;
}
#cta-menu-footer-main li a {
  color: #a2d06d;
}
#cta-menu-footer-main li a:hover {
  color: #b8f473;
}


#mobile-menus #mobile--information-menus li a {
  color: #a2d06d;
}
#mobile-menus #mobile--information-menus li a:hover {
  color: #b8f473;
}

#cta-menu-footer-mobile li a, #cta-menu-footer-main li a{
  color: #a2d06d;
}

#cta-menu-footer-mobile li a, #cta-menu-footer-main li a:hover{
  color: #b8f473;
}